.modal-header
  button.close(type='button', ng-click="cancel()") &times;
  h4.modal-title Create Sign-Up Event
.modal-body
  form.navbar-form(style="display: table;", name="createSsuForm")
    p(style="display: table-row;")
      label(style="display: table-cell;") Name
      textarea.form-control(style="display: table-cell;", rows="1", cols="40", ng-model="ssuDetails.evName", placeholder="Event Name", required)
    br
    p(style="display: table-row;")
      label(style="display: table-cell;") Description
      textarea.form-control(style="display: table-cell;", rows="2", cols="40", ng-model="ssuDetails.evDescription", placeholder="Event Description")
    br
    p(style="display: table-row;")
      label(style="display: table-cell;") Sign-up Minimum Slot Time
      | &nbsp;
      input.form-control(style="display: table-cell;", type="text", placeholder="In minutes", ng-model="ssuDetails.evMinDuration", ng-pattern="/^[0-9]*.?[0-9]*$/", required)
    br
    p(style="display: table-row;")
      label(style="display: table-cell;") Sign-up Maximum Slot Time
      | &nbsp;
      input.form-control(style="display: table-cell;", type="text", placeholder="Multiple of minimum", ng-model="ssuDetails.evMaxDuration", ng-pattern="/^[0-9]*.?[0-9]*$/", required)
    br
    p(style="display: table-row;")
      label(style="display: table-cell;") Max Sign-ups per User
      | &nbsp;
      input.form-control(style="display: table-cell;", type="text", placeholder="E.g. 2 for two slots", ng-model="ssuDetails.evMaxPerUser", ng-pattern="/^[0-9]*.?[0-9]*$/", required)
    br
    p(style="display: table-row;")
      label(style="display: table-cell;") User Groups
      | &nbsp;
      select.form-control(style="display:table-cell;", ng-model="selectedGroup", ng-options="group.name for group in userGroups")
      | &nbsp;
      button.btn(ng-click="addUserGroupToRequest(ssuDetails)") Add User Group
      p(style='display: table-cell;')
      ul
        li(ng-repeat="userGroup in ssuDetails.userGroups") {{ userGroup.name }}
          a(href="#", ng-click="removeUserGroupFromRequest(userGroup, ssuDetails)")
            span.glyphicon.glyphicon-remove
    p(style="display: table-row;")
      Label(style="display: table-cell;") Users
      input.form-control(style="display: table-cell", type="text", ng-model="userEmail", list="emails")
      | &nbsp;
      button.btn(ng-click="addUserToRequest(ssuDetails)") Add User
      p(style='display: table-cell;')
      ul(style='display: table-cell; list-style-type: none; padding-left: 10px;')
        li(ng-repeat="user in ssuDetails.userList") {{ user }}
          | &nbsp;
          a(href="#", ng-click="removeUserFromRequest(user, ssuDetails)")
            span.glyphicon.glyphicon-remove
    
    p(style="display:table-row;")
      label(style="display:table-cell;") Sign-up Section Start Time
      input.form-control(style="display:table-cell;", type="datetime-local", ng-model="ssuDetails.sectionStart", placeholder="yyyy-MM-ddTHH:mm", min="2015-01-01T00:00" max="2050-12-31T00:00")
    p(style="display:table-row;")
      label(style="display:table-cell;") Sign-up Section End Time
      input.form-control(style="display:table-cell;", type="datetime-local", ng-model="ssuDetails.sectionEnd", placeholder="yyyy-MM-ddTHH:mm", min="2015-01-01T00:00" max="2050-12-31T00:00")
      | &nbsp;
      a(href="#", ng-click="addSectionToSsu(ssuDetails.sectionStart, ssuDetails.sectionEnd)")
        span.glyphicon.glyphicon-plus
    p(style="display:table-row;")
      {{ssuDetails.sectionErrorText}}
    ul
      li(ng-repeat="section in ssuDetails.sections") {{section.start.toLocaleString()}} to {{section.end.toLocaleString()}}
         a(href="#", ng-click="removeSectionFromSsu(section)")
            span.glyphicon.glyphicon-remove
  br
  .btn-group
    button.btn.btn-primary(ng-disabled="createSsuForm.$invalid", ng-click="sendSsuData(ssuDetails)") Create Event