extends layout

block content
  if (user)
    p You are currently logged in as #{user.name}
  else
    p You are currently not logged in. Plaese login or register...
  br

  link(rel='stylesheet', href='/css/calendar.min.css')

  br
  body
    .page-header
      .pull-right.form-inline
        .btn-group
          button.btn.btn-primary(onclick="navigate('prev');") << Prev
          button.btn(onclick="navigate('today');") Today
          button.btn.btn-primary(onclick="navigate('next');") Next >>
        .btn-group#viewLengthButtons
          button.btn.btn-warning(onclick="setViewLength('year');") Year
          button.btn.btn-warning.active(onclick="setViewLength('month');") Month
          button.btn.btn-warning(onclick="setViewLength('week');") Week
          button.btn.btn-warning(onclick="setViewLength('day');") Day
      h3
      br
    .row
      #calendar
    br
    p#eventFrame
    script(type='text/javascript', src='/js/underscore-min.js')
    script(type='text/javascript', src='/js/calendar.min.js')
    script(type='text/javascript', src='/js/angular.min.js')
    script(type='text/javascript').
      var calendar = $("#calendar").calendar(
      {
        view: "month",
        tmpl_path: "/tmpls/",
        events_source: function () { return [
          {
            "id": 293,
            "title": "Event 1",
            "url": "javascript:void(0)",
            "class": "event-important",
            "start": 1422424903780, // Milliseconds
            "end": 1422434903780 // Milliseconds
          }
          ];},
        onAfterViewLoad: function(view) {
          $('.page-header h3').text(this.getTitle());
        },
        onAfterEventsLoad: function(events) {
          $("a[data-event-id='293']").attr("onclick","$('.p#eventFrame').attr('value',$(this).attr('data-original-title'));");
        }
      });
      function setViewLength(viewLength) {
        calendar.view(viewLength);
      }
      function navigate(where) {
        calendar.navigate(where);
      }
      $(".btn-group#viewLengthButtons > .btn").click(function(){
        $(this).addClass("active").siblings().removeClass("active");
      });
