body { 
	padding: 10px; 
}

.navbar-form {
	padding: 0;
}

ul {
	list-style-type: none;
	padding-left: 10px;
}

.event-btn {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	line-height: 1.42;
	border-radius: 15px;
}